<html>
    <%- include('../templates/head.ejs') %>

    <center>
      <img id='error-icon' src="/images/error-icon.png" alt="error-icon">
      <h1 id='page-not-found-message'>Page not found!</h1>
    </center>

    <%- include('../templates/footer.ejs') %>
</html>
