<html>

    <%- include('../templates/head.ejs') %>

    <body>
        <h1 id='title'>Speed Math</h1>

        <div id='grid-container'>
            <div id='left-dashboard'> <!-- Math Game -->
                <div id='timer'>Time: 60s</div>
                <div id='score'>Score: 0pts</div>
                <div id='error-message'></div>
                <div id='equation'>Click the button below to start</div><br>
                <input id='user-answer' size='5' disabled>
                <input id="button" type="button" value='Start' onclick="buttonClicked()">
            </div>
            <div id='right-dashboard'> <!-- Scoreboards-->
                <div id='scoreboard'><strong>Top 10 Scoreboard</strong></div>
                <!-- Sample Data-->
                <table id='sample-table'>
                    <thead>
                        <tr style="background-color: lightblue;">
                            <th></th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='first-place' style="background-color: gold;">
                            <td>1.</td>
                            <td>123456789012345</td>
                            <td>1000pts</td>
                        </tr>
                        <tr id='second-place' style="background-color: silver;">
                            <td>2.</td>
                            <td>Jake</td>
                            <td>400pts</td>
                        </tr>
                        <tr id='third-place' style="background-color: #cd7f32;">
                            <td>3.</td>
                            <td>Max</td>
                            <td>200pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>4.</td>
                            <td>Dylan</td>
                            <td>100pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>5.</td>
                            <td>Henry</td>
                            <td>100pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>6.</td>
                            <td>Amelia</td>
                            <td>100pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>7.</td>
                            <td>Ulysses</td>
                            <td>100pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>8.</td>
                            <td>Lucifer</td>
                            <td>100pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>9.</td>
                            <td>Jack</td>
                            <td>100pts</td>
                        </tr>
                        <tr style="background: lightblue;">
                            <td>10.</td>
                            <td>Patrick</td>
                            <td>100pts</td>
                        </tr>
                    </tbody>
                </table>

                <!--

                    Add code that creates a table and displays the
                    name and score from Mongo

                -->


            </div>
        </div>
    </body>
    <!-- Game Handler Script -->
    <%- include('../templates/game-handler.ejs') %>
    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>