<html>

    <%- include('../templates/head.ejs') %>

    <body>
        <h1 id='game-title'>Speed Math</h1>
        <div id='grid-container'>
            <!-------------------------- MATH GAME -------------------------->
            <div id='left-dashboard'>
                <div id='timer'>Time: 60s</div>
                <div id='score'>Score: 0pts</div>
                <div id='error-message'></div>
                <div id='equation'>Click the button below to start</div><br>
                <input id='user-answer' size='5' disabled>
                <input id="button" type="button" value='Start' onclick="buttonClicked()">
            </div>
            <!-------------------------- SCOREBOARD -------------------------->
            <div id='right-dashboard'>
                <div id='scoreboard'><strong>Top 10 Scoreboard</strong></div>
                <!-- Sample Data-->


                <!--

                    Add code that creates a table and displays the
                    name and score from Mongo


                -->


            </div>
        </div>
    </body>
    <!-- Game Handler Script -->
    <%- include('../templates/game-handler.ejs') %>
    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>
